table {
    overflow: hidden;

    margin: 50px 0;

    border: 1px solid black;
}

table td,
table tr,
table th {
    min-width: 90px;
    padding: 10px 5px;

    border: 1px solid transparent;
}

td:after,
col:hover:after {
    position: relative;
    z-index: -2;
    top: -200px;
    left: -5px;

    display: block;

    width: 100%;
    height: 10000px;
    margin: 0 0 -10000px;
    padding:0 5px;

    content: '';
}

tr:after {
    position: relative;
    z-index: -3;

    display: block;

    width: 1000px;
    height: 1000px;
    margin: 0 0 -1000px -1000px;

    content: '';
}

tr:nth-child(odd):after
{
    background: #fff;
}

td:nth-child(even):after,
tr:nth-child(even):after,
tr.row:after{
    background: rgba(220, 220, 220, 0.3);
}


tr:hover,
th:hover,
col.hover:after {
    background: #d5bed6;
}

tr:hover td:hover,
tr:hover th:hover {
    background: #d291e2;
}